data/resources/rss-relax-ng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="rss">
      <attribute name="version">
        <text/>
      </attribute>
      <oneOrMore>
        <element name="channel">
          <ref name="channelElements"/>
        </element>
      </oneOrMore>
    </element>
  </start>

  <define name="channelElements">
    <interleave>
      <element name="title">
        <text />
      </element>
      <oneOrMore>
        <element name="link">
          <text />
        </element>
      </oneOrMore>
      <element name="description">
        <text />
      </element>
      <optional>
        <element name="pubDate">
          <text />
        </element>
      </optional>
      <optional>
        <ref name="category"/>
      </optional>
      <optional>
        <element name="generator">
          <text/>
        </element>
      </optional>
      <!-- <optional> -->
        <!-- <element name="lastBuildDate"> -->
        <!--   <text/> -->
        <!-- </element> -->
      <!--   <zeroOrMore> -->
      <!-- </optional> -->
      <zeroOrMore>
        <ref name="items"/>
      </zeroOrMore>
      <optional>
        <ref name="image"/>
      </optional>
    </interleave>
  </define>

  <define name="items">
    <element name="item">
      <interleave>
        <optional>
          <element name="title">
            <text />
          </element>
        </optional>
        <optional>
          <element name="link">
            <text />
          </element>
        </optional>
        <optional>
          <element name="description">
            <text />
          </element>
        </optional>
        <optional>
          <element name="author">
            <text />
          </element>
        </optional>
        <optional>
          <element name="pubDate">
            <text />
          </element>
        </optional>
        <optional>
          <element name="language">
            <text />
          </element>
        </optional>
        <optional>
          <element name="copyright">
            <text />
          </element>
        </optional>
        <optional>
          <ref name="category"/>
        </optional>
        <optional>
          <element name="guid">
            <optional>
              <attribute name="isPermaLink">
                <choice>
                  <value>true</value>
                  <value>false</value>
                </choice>
              </attribute>
            </optional>
            <text />
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="category">
    <element name="category">
      <attribute name="domain"><text/></attribute>
      <text/>
    </element>
  </define>

  <define name="image">
    <element name="image">
      <element name="url">
        <text/>
      </element>
      <optional>
        <element name="title">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="link">
          <text/>
        </element>
      </optional>
    </element>
  </define>

  <define name="anyElement">
    <element>
      <anyName/>
      <zeroOrMore>
	<choice>
	  <attribute>
	    <anyName/>
	  </attribute>
	  <text/>
	  <ref name="anyElement"/>
	</choice>
      </zeroOrMore>
    </element>
  </define>

</grammar>